/**
* Focus Work Topics
*/

.topic-su-posts-default-loop {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}

.topic-su-post {
  background: #b6dbd1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 5px;
  width: 220px;
}

.topic-su-post img {
  border-radius: 12px 12px 0 0;
height: 100%;
width: 100%;
}

.topic-su-post-title {
  color: #58585a;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.topic-su-post-excerpt {
  padding: 0 10px;
  text-align: center;
}

.topic-su-post-excerpt p {
  -webkit-margin-before: 1em;
  font-size: .9em;
}

.topic-su-post-button {
  background: #0f746b;
  border-radius: 0 0 12px 12px;
  padding: 10px;
  text-align: center;
}

.topic-su-post-button a {
  color: #ffffff;
}

.su-column {
  margin: 5px !important;
}

/**
* Focus Work Resources
*/

.resource-su-post,
.su-box {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #cccccc;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
}

.su-box-content,
.su-box-title {
  background-color: transparent !important;
}

.su-cafe-thumb img {
  max-width: 100%;
}

.su-carousel {
  max-width: 1000px;
}

/**
* Connection Center Features
*/
.feature-su-posts-loop {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.feature-su-posts-loop .feature-su-post {
  flex: 1;
  max-width: 30%;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.feature-su-posts-loop .feature-su-post img {

}
