/**
*    Main.css
*  ------------------------------------------
*  This is the CSS for the main structure of the theme
*/
body {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

nav,
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li a {
  font-weight: normal;
  padding: 10px;
}
/**
* -------------------------------
*      HEADER
* -------------------------------
*/
#default-header,
#header-home {
  background: #054f7d;
  margin-top: 50px;
  max-width: 1000px;
  overflow: visible;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#header-home {
  background: transparent;
  position:absolute;
}



#top_bar {
  background: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 10px;
  position: fixed;
  max-width: 980px;
  width:100%;
  z-index: 1000;
}

.search-form input {
  border-radius: 5px;

}

.search-form input[type='submit'] {
  background: #054f7d;
  border: none;
  color: #ffffff;
}

.top_bar_widget {
  display: flex;

}

.top_bar_widget form {
  align-self: center;
}

#primary-nav-container {
  flex-direction: row-reverse;
}

.primary-nav-menu li:not(:last-child) a {
  color: #ffffff;
}

.primary-nav-menu > li:last-child a {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0 10px;
}

#header-home .primary-nav-menu > li:not(:last-child) a {
  color: #054f7d;
}


#header-home .primary-nav-menu > li:last-child a {
  /* #054f7d in rgb */
  background:rgba(5,79,125, 0.2)
  border-radius: 10px;
  margin: 0 10px;
}

.primary-nav-menu li:hover a,
.primary-nav-menu li.current_page_item a,
.primary-nav-menu li.current-page-ancestor a {
  font-weight: bold;
}

.sub-menu {
  background: #054f7d;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  top: 45px;
  min-width: 125px;
  position: absolute;
}

nav ul li:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.sub-menu li {
  border-bottom: 1px solid white;
  display: flex;
}

.sub-menu li:first-child {
  border-radius: 15px 15px 0 0;
}

.sub-menu li:last-child {
  border-radius: 0 0 15px 15px;
}

.sub-menu li:hover {
  background: rgba(255, 255, 255, 0.5);
}

.sub-menu li a {
  color: #ffffff !important;
  font-size: .7em;
  font-weight: normal;
  flex: 1;
  padding: 10px;
}

.sub-menu li:last-child {
  border: 0;
}

.sub-menu,
.no-padding-start,
nav .no-padding-start {
  -webkit-padding-start: 0;
}

/**
* -------------------------------
*        BODY
* -------------------------------
*/

section {
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  padding-top: 100px;
}

main {
  padding: 20px;
}
/* HOMEPAGE */
#front-page {
  padding: 0;
  margin-top: 50px;
}

#homepage-excerpt-bg {
  height: 115px;
  margin: -50px 0 25px;
}

#homepage-excerpt {
  margin-top: -100px;
  padding: 0 15%;
}

#homepage-header-text {
  color: #054f7d;
  font-family: WCManoNegraBta;
  font-size: 26pt;
  padding: 20px 0;
  text-align: center;
}

.50-margin-top {
  margin-top: 50px;
}

#homepage-section-bucket-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.homepage-section-bucket {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.homepage-section-bucket img {
  height: 100%;
  max-width: 200px;
  max-height: 75px;
  width: 100%;
}

.primary-color-bg {
  background: #054f7d;
  opacity: 0.2;

}


.featured-resources-row {
  height: 500px;
}

.homepage-colored-row {
  margin-top: -525px;
}

/* SIDEBAR */
aside {
  display: flex;
  flex-direction: column;
  max-width: 225px;
  min-width: 200px;
  padding: 20px;
  width: 100%;
}

#sidebar-ancestor-nav {
  display: flex;
  flex-direction: column;
}

#sidebar-ancestor-nav li {
  border-top: 1px solid #58585a;
  display: flex;
  flex: 1;
  font-size: .75em;
  list-style: none;
}

#sidebar-ancestor-nav li:first-child {
  border-top: 0;
  font-size: .9em;
}

#sidebar-ancestor-nav li:first-child a {
  font-weight: bold !important;
}

#sidebar-ancestor-nav li:last-child {
  border-bottom: 1px solid #58585a;
}

#sidebar-ancestor-nav li:hover:nth-child(1n+2) {
  background: rgba(255, 255, 255, 0.75);
}

#sidebar-ancestor-nav li a {
  flex: 1;
  font-weight: normal;
  padding: 10px;
  text-align: right;
}

/* WIDGETS */
#widget-sotm {
  align-content: flex-end;
  display: flex;
  flex: 1;
}

/**
* -------------------------------
*      FOOTER
* -------------------------------
*/
footer {
  background: #054f7d;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

#copyright {
  color: #054f7d;
  font-size: .75em;
  margin: 15px;
  text-align: center;
}

#widget-sotm {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 15px;
  height: 200px;
  margin: -190px 10px 5px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 200px;
}

#widget-sotm img {
  height: 100%;
  max-height: 100px;
  max-width: 190px;

}
#widget-sotm  .sotm-title {
  margin-bottom: 0;
}
#widget-sotm  .sotm-title-special {
  color:#4db5a8;
  border-bottom: 1px solid #cccccc;
  font-size: .9em;
  padding-bottom: 5px;
}

/**
* -------------------------------
*      GALLERY
* -------------------------------
*/
gallery {

  margin: 0 auto;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

img {
  height: 100%;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.gallery {
  padding: 10px;
  width: 100%;
}

.gallery figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  float: left;
  margin: 0 auto;
  text-align: center;
}

.gallery-columns-1 figure {
  width: 100%;
}
.gallery-columns-2 figure {
  width: 48%;
}
.gallery-columns-3 figure {
  width: 31%;
}
.gallery-columns-4 figure {
  width: 23%;
}
.gallery-columns-5 figure {
  width: 18%;
}
.gallery-columns-6 figure {
  width: 14%;
}
.gallery-columns-7 figure {
  width: 12%;
}
.gallery-columns-8 figure {
  width: 10%;
}
.gallery-columns-9 figure {
  width: 9%;
}

.gallery figure img {
  width: 100%;%TiarlAp16

}

.wp-caption {
  max-width: 96%;
  padding: 5px 3px 10px;
  border: 1px solid #f0f0f0;
  background: #fff;
  text-align: center;

  /*Image does not overflow the content area*/
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 0 4px 5px;
  font-size: 11px;
  line-height: 17px;
}

/*Text meant only for screen readers.*/
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  width: auto;
  height: auto;
  clip: auto !important;
  padding: 15px 23px 14px;
  color: #21759b;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: normal;
}
/**
* ---------------------------------------
*      MEDIA QUERIES
* ---------------------------------------
*/
