/* CSS Document */

/* * Media Quieries */

@media screen and (max-width: 1000px) {
  body {
    margin : 0;
  }
  .page-container,
  .site-footer,
  .site-header {
    width : 100%;
  }
}

@media screen and (max-width: 950px) {
  .topic-su-post {
    max-height : 275px !important;
  }
}

@media screen and (max-width: 900px) {
  .feature-su-post,
  .feature-su-post-thumbnail > img {
    width  : 215px;
    height : 85%;
  }
  .sidebar-nav {
  }
  .sidebar-container,
  .sidebar-container .sidebar-fixed {
    width : 20%;
  }
}

@media screen and (max-width: 800px) {
  .homepage-banner-img.text-7 {
    display : none;
  }
  .homepage-banner-img {
    width : 23% !important;
  }
  #homepage-hero-banner {
    right : 25px;
  }
  .homepage-colored-row {
    height : 1000px;
  }
  .feature-su-post,
  .feature-su-post-thumbnail > img {
    width  : 175px;
    height : 75%;
  }
  .feature-su-posts-loop {
    margin : 10px 10% 0;
  }
  .homepage-block-row .su-column {
    width : 33% !important;
    float : left !important;
  }
  img.size-medium {
    width  : 45%;
    height : 150px;
  }
  .sidebar-nav-title {
    font-size : 12px;
  }
  #footer-nav-container {
    margin-left : 15% !important;
  }
}

@media screen and (max-width: 650px) {
  .feature-su-posts-loop {
    margin : 10px 2% 0;
  }
  #footer-nav-container {
    margin-left : 5% !important;
  }
  .homepage-slogan {
    font-size : 20pt;
  }
}

@media screen and (max-width: 641px) {
  nav.header-nav {
    margin-top : -60px;
  }
  .translate {
    clear       : both;
    margin-left : 25%;
  }
}

@media screen and (max-width: 600px) {
  #full-page-content,
  .full-page-content {
    padding : 0;
  }
  .sponsors {
  }
  .site-footer {
    height : 150px;
  }
  .homepage-banner {
    margin-top  : 50px;
    margin-left : 45px;
  }
  .homepage-block-row .su-column {
    width  : 75% !important;
    float  : none !important;
    margin : 0 0 0 10% !important;
  }
  .homepage-block {
    padding : 0;
  }
  .primary-nav-item-list,
  .wfcc-home-arrow {
    display : none;
  }
  .feature-su-post-title a {
    font-size : 60%;
  }
  .feature-excpert {
    font-size : 60%;
  }
  .feature-su-post,
  .feature-su-post-thumbnail > img {
    width  : 215px;
    height : 85%;
    float  : none;
  }
  .feature-su-post {
    margin-bottom : 100px;
    margin-left   : 25%;
  }
  .site-header,
  .top-float-bar,
  nav.main-nav {
    display : none;
  }
  .page-container {
    margin-top : 0;
  }
  .content-container {
    width  : 90%;
    margin : 0 auto;
  }
  .sidebar-container {
    display : none;
  }
  #activity-stream {
    padding-left : 3px;
  }
}

@media screen and (max-width: 500px) {
  .homepage-banner-img.text-5 {
    display : none;
  }
  .homepage-banner {
    margin-left : 25px;
  }
  .homepage-banner-img {
    width : 32% !important;
  }
  .topic-su-posts {
    margin-left : 20%;
  }
  .homepage-slogan {
    font-size : 15pt;
  }
}
