@font-face {
	font-family: 'WCManoNegraBta';
	src: url('fonts/WCManoNegraBta.otf');
}

@font-face {
	font-family: 'BreeSerif';
	src: url('fonts/BreeSerif-Regular.otf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Bold.ttf');
	src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('fonts/OpenSans-LightItalic.ttf');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('fonts/OpenSans-Bold.ttf');
}

h1,
h2,
h3,
h4 {
	color: #58585a;
	margin-bottom: 0;
}

h1,
h2 {
	font-family: BreeSerif;
	font-weight: bold;
}

h1 {
	font-size: 22pt;
}

h2 {
	font-size: 18pt;
}

h3,
h4 {
}

h3 {
	font-family: OpenSansItalic;
	font-size: 14pt;
}

h4 {
	font-family: OpenSansBold;
	font-size: 14pt;
}

h5 {
	color: #58585a;
	font-size: 12pt;
	margin-top: 0px;
}

p {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #054f7d;
}

hr {
	border: 1px solid rgba(88,88,90,0.3);
}

img {
	border-radius: 12px;
}

.img-no-border {
	border-radius: 0;
}