.admin-bar .top-float-bar {
	margin-top: 32px;
}

.admin-bar .page-container  {
	margin-top: 40px;
}
/* Top Float Bar */

.top-float-bar {
	background: #EFEFEF;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	.wrapper {
		padding: 10px 0 10px;
		@include flexbox();
		flex-direction: row-reverse;

		.search-bar {
			order: 2;
			margin-right: 25px;

			#search {
				border-radius: 12px;
				width: 160px !important;
			}
		}

		#top-nav-container {
			margin-right: 10px;
		}
	}
}


/* Header Bar */


.site-header {
	background: $color_blue-dark;
	box-shadow: 0 2px 10px -2px $color_grey;
	display: inline-block;
	max-width: 1000px;
	position: fixed;
	width: 100%;
	top: 40px;
	z-index: 1;
}

.header-logo {
	float: left;
	height: 75px;
	margin-left: 15px;
	margin-top: 5px;
	width: 250px;
}

.wfcc-logo-hrz {
	margin: 5px 0 0 55px;
}

@media screen and (max-width: 840px) {
	.header-logo {
		height: 54px;
		width: 180px;
	}
}

@media screen and (max-width: 675px) {
	.site-header,
	nav.main-nav,
	.top-float-bar {
		display: none;
	}
}
