@font-face {
	font-family: 'WCManoNegraBta';
	src: url('../fonts/WCManoNegraBta/WCManoNegraBta.eot');
	src: url('../fonts/WCManoNegraBta/WCManoNegraBta.woff2') format('woff2'),
	url('../fonts/WCManoNegraBta/WCManoNegraBta.woff') format('woff'),
	url('../fonts/WCManoNegraBta/WCManoNegraBta.ttf') format('truetype'),
	url('../fonts/WCManoNegraBta/WCManoNegraBta.svg#WCManoNegraBta') format('svg'),
	url('../fonts/WCManoNegraBta/WCManoNegraBta.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BreeSerif-Regular';
	src: url('../fonts/BreeSerif/BreeSerif-Regular.eot');
	src: url('../fonts/BreeSerif/BreeSerif-Regular.woff2') format('woff2'),
	url('../fonts/BreeSerif/BreeSerif-Regular.woff') format('woff'),
	url('../fonts/BreeSerif/BreeSerif-Regular.ttf') format('truetype'),
	url('../fonts/BreeSerif/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg'),
	url('../fonts/BreeSerif/BreeSerif-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
	url('../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular/OpenSans.woff') format('woff'),
	url('../fonts/OpenSans-Regular/OpenSans.ttf') format('truetype'),
	url('../fonts/OpenSans-Regular/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Chalkduster';
	src: url('../fonts/Chalkduster/Chalkduster.eot');
	src: url('../fonts/Chalkduster/Chalkduster.woff2') format('woff2'),
	url('../fonts/Chalkduster/Chalkduster.woff') format('woff'),
	url('../fonts/Chalkduster/Chalkduster.ttf') format('truetype'),
	url('../fonts/Chalkduster/Chalkduster.svg#Chalkduster') format('svg'),
	url('../fonts/Chalkduster/Chalkduster.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4 {
	color: $color_grey;
	margin-bottom: 0;
}

h1,
h2 {
	font-family: 'BreeSerif-Regular', Arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 22pt;
}

h2 {
	font-size: 18pt;
}


div,
ul,
ol,
li,
span,
p,
a,
h3,
h4,
h5,
h6 {
	font-family: 'OpenSans', 'OpenSans-Regular', Arial, sans-serif;
}

h3 {
	font-size: 14pt;
	font-style: italic;
	font-weight: normal;
}

h4 {
	font-size: 14pt;
	font-weight: bold;
}

h5 {
	color: $color_grey;
	font-size: 12pt;
	margin-top: 0px;
}

p {
	color: $color_grey;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: $color_blue-dark;
}

p a {
	font-weight: bold;
}

a:hover,
li:hover  > a {
	color: $color_orange !important;
	text-decoration: underline;
}

hr {
	border: 1px solid rgba(88,88,90,0.3);
}

img {
	border-radius: 12px;
}

.img-no-border {
	border-radius: 0;

	p img {
		border: 1px solid $color_grey;
		border-radius: 0;
	}
}
.blog-menu-title,
#menu-bonnies-blog li a {
	font-family: 'Chalkduster', OpenSans, Arial, sans-serif;
}
