/**
* Remember to edit Customizer and Theme Options if a color is changed.
*/

$color_blue-dark: #054f7d;

$color_grey: #57585a;

$color_green-light: #37baa5;
$color_green-dark: #0f746b;

$color_orange: #D35D2B;
